<div data-id="{{id}}" class="col-md-4 col-sm-12">
    <div data-box="{{id}}" data-state="view" data-id="{{id}}" class="personal-box personal-box-draggable">
        <div class="personal-box-wrapper">
            <div data-show="normal" class="personal-box-tools personal-box-actions-{{id}}">
                <ul>
                    <li><a href='#' data-type="edit" data-id="{{id}}" class="personal-box-actions-edit">Edit</a></li>
                    <li><a href='#' data-type="delete" data-id="{{id}}" class="personal-box-actions-delete">Delete</a></li>
                </ul>
            </div>
            <div class="personal-box-content personal-box-content-{{id}}">
                {{{body}}}
            </div>
        </div>
    </div>
</div>
