<div class="personal-box-body-edit" data-show="newBox">
    <form id="personal-box-admin-form" data-id="{{id}}">
        <div class="form-group">
            <label>Box title</label>
            <select name="template">
                <option value="record_list">Search</option>
            </select>
        </div>
    </form>
    <div class="personal-box-body-edit-footer">
        <div class="text-right">
            <a href="#" class="btn btn-small btn-danger personal-box-delete">Delete</a>
            <a href="#" class="btn btn-small btn-success personal-box-edit-template">Continue</a>
        </div>
    </div>
</div>
