<div data-show="edit">
    <form id="personal-box-admin-form" data-id="{{id}}">
    <div class="row">
        <div class="col-md-6">
            <select name="type">
                <option value="record_list">Record list</option>
            </select>
        </div>
        <div class="col-md-6">
            <div class="text-right">
                <a data-id="{{id}}" href="#" class="personal-box-actions-edit-close">X</a>
            </div>
        </div>
    </div>
        <div class="form-group">
            <label>Box title</label>
            <input type="text" class="form-control" name="title" value="{{ _settings.title }}" />
        </div>
                    <div class="form-group">
                        <label>Search query</label>
                        <input type="text" class="form-control" name="query" value="{{ _settings.query }}" />
                    </div>
                    <div class="form-group">
                        <label>Collection Name</label>
                        <input type="text" class="form-control" name="collection" value="{{ _settings.collection}}" />
                    </div>
        </div>
        <a href="#" data-id="{{id}}" class="btn btn-success btn-block personal-box-actions-edit-save">Save</a>
    </div>
    </form>
</div>
